<p style="color: green"><%= notice %></p>

<h1>Books</h1>

<%= render "search_form", book: @book %>

<div id="books">
  <% @books.each_with_index do |book, index| %>
  <div ></div>
    <%= render book %>
  </div>  
    <p>
      <%= link_to "Show this book", book %>
    </p>
    <hr>
  <% end %>
</div>

<%= link_to "New book", new_book_path %>
