<p style="color: green"><%= notice %></p>

<h1>Book</h1>

<%= render @book %>

<div>
  <%= link_to "Edit this book", edit_book_path(@book) %> |
  <%= link_to "Back to books", books_path %>
  <%= link_to "Show report", books_report_path(@book) %>

  <%= button_to "Destroy this book", @book, method: :delete %>
</div>
