<p style="color: green"><%= notice %></p>

<%= render "search_form", assembly: @assembly %>

<h1>Assemblies</h1>
<hr>
<div id="assemblies">
  <% @assemblies.each do |assembly| %>
    <%= render assembly %>
    <p>
      <%= link_to "Show this assembly", assembly %>
    </p>
    <hr>
  <% end %>
</div>

<%= link_to "New assembly", new_assembly_path %>
